.cart-screen-holder {
    margin-top: 8rem;
    .empty-cart {
        margin-top: 1rem;
        font-size: 2rem;
        color: #3e3e3e;
        a {
            color: #E89F71;
            &:hover {
                transition: 0.3s;
                color: #6a6a6a;
            }
        }
    }
    .cart-screen-head {
        font-size: 3.5rem;
        color: #000;

    }
    .cart-screen-products-holder {
        margin-top: 4rem;
        padding-right: 3rem;
        li {
            img {
                width: 100%;
                max-width: 8rem;
            }
            a {
                &.name {
                    font-size: 2rem;
                    color: #3e3e3e;
                    &:hover {
                        color: #E89F71;
                        transition: 0.3s;
                    }
                }
            }
            .price {
                font-size: 2rem;
                color: #3e3e3e;
            }
            button {
                display: inline-block;
                font-size: 1.7rem;
                line-height: 1.7rem;
                color: #fff;
                padding: 1.4rem 1.4rem;
                background-color: #E89F71;
                border: none;
                border-radius: 0;
                &:hover {
                    transition: 0.3s;
                    background-color: #F9F1E7;
                    color: #3A3A3A;
                }
            }
        }
    }
    .proceed-cart-holder {
        h2 {
            font-size: 3rem;
            color: #000;
            span {
                font-size: 2rem;
            }
        }
        button {
            width: 100%;
            display: block;
            font-size: 2rem;
            line-height: 3rem;
            color: #fff;
            padding: 2.2rem 2rem;
            margin-top: 4rem;
            background-color: #E89F71;
            border: none;
            border-radius: 0;
            &:hover {
                transition: 0.3s;
                background-color: #F9F1E7;
                color: #3A3A3A;
            }          
        }
    }
}

@media screen and (max-width: 991px) {
    .cart-screen-holder {
        flex-direction: column;
        justify-content: flex-start;
        .screen-head-holder {
            width: 100%;
            flex-basis: unset;
        }
        .proceed-cart-col {
            flex-basis: unset;
            margin-top: 5rem;
        }
    }
}

@media screen and (max-width: 730px) {
    .cart-screen-holder {
        flex-direction: column;
        justify-content: flex-start;
        .screen-head-holder {
            .cart-screen-products-holder {
                li {
                    & > div {
                        gap: 5px;
                    }
                    img {
                        width: 100%;
                        max-width: 8rem;
                    }
                    a {
                        &.name {
                            font-size: 2rem;
                            color: #3e3e3e;
                            &:hover {
                                color: #E89F71;
                                transition: 0.3s;
                            }
                        }
                    }
                    .price {
                        font-size: 2rem;
                        color: #3e3e3e;
                    }
                    button {
                        display: inline-block;
                        font-size: 1.7rem;
                        line-height: 1.7rem;
                        color: #fff;
                        padding: 1.4rem 1.4rem;
                        background-color: #E89F71;
                        border: none;
                        border-radius: 0;
                        &:hover {
                            transition: 0.3s;
                            background-color: #F9F1E7;
                            color: #3A3A3A;
                        }
                    }
                }
            }
        }
    }
}