.banner {
    position: relative;

    .banner-text-holder {
        position: absolute;
        top: -1rem;
        left: 11rem;
        z-index: 3;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        padding: 6rem;
        backdrop-filter: blur(10px);
        max-width: 49rem;

        h1 {
            color: #3A3A3A;
            font-size: 5.6rem;
            line-height: 6.7rem;
            font-weight: 700;
        }

        p {
            font-size: 2rem;
            line-height: 3rem;
            color: #898989;
            margin-top: 1.6rem;
        }

        button {
            width: 100%;
            display: block;
            font-size: 2rem;
            line-height: 3rem;
            color: #fff;
            padding: 2.2rem 2rem;
            margin-top: 4rem;
            background-color: #E89F71;
            border: none;
            border-radius: 0;
            &:hover {
                transition: 0.3s;
                background-color: #F9F1E7;
                color: #3A3A3A;
            }
        }
    }
    .banner-carousel {
        width: 100%;
        max-width: 100%;

        .slick-prev {
            top: unset;
            left: unset;
            transform: unset;
            bottom: -100px;
            right: 170px;
            width: 4.8rem;
            height: 4.8rem;
            background-color: #E89F71!important;
            color: #fff;
            border-radius: 50%;
            display: flex!important;
            justify-content: center;
            align-items: center;
        }

        .slick-next {
            top: unset;
            left: unset;
            transform: unset;
            bottom: -100px;
            right: 100px;
            width: 4.8rem;
            height: 4.8rem;
            background-color: #E89F71!important;
            color: #fff;
            border-radius: 50%;
            display: flex!important;
            justify-content: center;
            align-items: center;
        }

        .slick-prev::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f104";
        }

        .slick-next::before {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
        }

        .banner-carousel-card {
            max-width: 432px;
            position: relative;
            margin: auto;

            img {
                max-width: 100%;
            }

            .banner-carousel-card-bottom {
                position: absolute;
                z-index: 2;
                bottom: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.72);
                padding: 1.8rem;
                width: 100%;
                max-width: 240px;

                .product-name {
                    color: #3A3A3A;
                    font-size: 2.8rem;
                    font-weight: 600;
                    &:hover {
                        transition: 0.3s;
                        color: #E89F71;
                    }
                }

                .description {
                    color: #6A6A6A;
                    font-size: 1.4rem;
                    line-height: 2rem;
                    margin-top: 5px;
                }

                .card-bottom-bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-top: 3.5rem;

                    .price {
                        font-size: 2.1rem;
                        color: #3A3A3A;
                    }

                    a {
                        i {
                            color: #3A3A3A;
                            font-size: 1.5rem;
                        }
                        &:hover i {
                            transition: 0.3s;
                            color: #E89F71;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1880px) {
    .banner {
        position: relative;
        .banner-carousel {
            .banner-carousel-card {
                max-width: 350px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .banner {
        position: relative;
        .banner-carousel {
            .banner-carousel-card {
                max-width: 400px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .banner {
        position: relative;
        .banner-carousel {
            .banner-carousel-card {
                max-width: 350px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .banner {
        position: relative;
        .banner-carousel {
            .banner-carousel-card {
                max-width: 450px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        position: relative;
        .banner-text-holder {
            position: absolute;
            top: -1rem;
            left: 5rem;
        }
        .banner-carousel {
            .banner-carousel-card {
                max-width: 400px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .banner {
        position: relative;
        .banner-text-holder {
            top: -1rem;
            left: 5rem;
            padding: 3rem;
            max-width: 40rem;
    
            h1 {
                font-size: 4.4rem;
                line-height: 5.5rem;
            }
    
            p {
                font-size: 1.7rem;
                line-height: 2.7rem;
                margin-top: 1.3rem;
            }
        }
        .banner-carousel {
            .banner-carousel-card {
                max-width: 400px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 950px) {
    .banner {
        position: relative;
        .banner-text-holder {
            top: -1rem;
            left: 5rem;
            padding: 3rem;
            max-width: 40rem;
    
            h1 {
                font-size: 4.4rem;
                line-height: 5.5rem;
            }
    
            p {
                font-size: 1.7rem;
                line-height: 2.7rem;
                margin-top: 1.3rem;
            }
        }
        .banner-carousel {
            .banner-carousel-card {
                max-width: 350px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .banner {
        position: relative;
        .banner-text-holder {
            top: -1rem;
            left: 3rem;
            padding: 1.5rem;
            max-width: 30rem;
    
            h1 {
                font-size: 3.3rem;
                line-height: 4.2rem;
            }
    
            p {
                font-size: 1.4rem;
                line-height: 2.1rem;
                margin-top: 1rem;
            }
            button {
                font-size: 1.3rem;
                line-height: 1.3rem;
                color: #fff;
                padding: 1.2rem 1rem;
                margin-top: 2rem;
            }
        }
        .banner-carousel {
            .banner-carousel-card {
                max-width: 300px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .banner {
        position: relative;
        .banner-text-holder {
            position: static;
            top: unset;
            left: unset;
            padding: 6rem;
            max-width: 100%;
            box-shadow: unset;
            width: 100%;
        }
        .banner-carousel {
            display: none;
            .banner-carousel-card {
                max-width: 500px;
                position: relative;
                margin: auto;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .banner {
        position: relative;
        .banner-text-holder {
            padding: 3rem;
            h1 {
                font-size: 4rem;
                line-height: 5rem;
            }
    
            p {
                font-size: 1.5rem;
                line-height: 2.5rem;
            }
        }
        .banner-carousel {
            display: none;
            .banner-carousel-card {
                max-width: 500px;
                position: relative;
                margin: auto;
            }
        }
    }
}